body {
	margin: 0;
	font-family: 'Helvetica Neue';
	background: black;
	color: white;
}

input[type=text] {
	background: black;
	color: white;
	border: solid 1px #f94e23;
	display: block;
	margin: 0 0 10px 0;
}

.orange {
	color: #f94e23;
}

.giant {
	font-size: 200px;
	line-height: 1em;
}

.exercises-view {
	padding: 10px;	
}

/*
.view {
	border: dotted 1px white;
}

.sub-view {
	border: dotted 1px red;
}
*/

.toggle-button {
  float: left;
}

.workout-button {
  float: right;
}

.menu-button {
  margin: 0 8px;
  display: block;
  line-height: 2.5882;
  text-transform: uppercase;
  font-size: 18px;
}

nav ul {
  margin: 38px 10px 10px 10px;
  padding: 0;
}

nav li {
  list-style: none;
  margin: 0;
  line-height: 2;
}

.view {
  padding: 0 10px;
}

.clear::after { 
   content: "";
   display: block; 
   clear: both;
}

h2 {
  font-size: 18px;
  margin: 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.workout-stat {
  margin: 0;
}

.workout-stat__label,
.workout-stat__data {
  display: block;
  margin: 0;
}

.workout-stat__label {
  font-size: 8px;
}

.workout-stat__data {
  font-size: 20px;
}

/**********************************************************
    header
**********************************************************/
header {
    position:fixed;
    overflow: hidden;
    display:block;
    z-index:250;
    -webkit-box-sizing:border-box; box-sizing:border-box;
    left:0; right:0;
    background: #222;
    
} /* This is masthead bar that appears at the top of the UI */

header h1 { 
    position: absolute;
    width: 45%;
    z-index: 1;
    font-size: 18px;
    font-weight: bold;
    left: 27.5%;
    text-shadow: rgba(0,0,0,0.8) 0 -1px 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    line-height: 2.5882;
    font-weight: bold;
} /* This is text that appears in the header at the top of the screen */

/**********************************************************
    Slideout menu
**********************************************************/

body {
  width: 100%;
  height: 100%;
}

main {
  padding-top: 45px;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  background: black;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.exercise-input-view {

}

.exercise-input-view label,
.exercise-input-view input {
  float: left;
}

.exercise-input-view input {
  width: 24%;
  margin-left: 2%;
  padding-left: 5px;
}

.exercise-input-view label {
  position: inline-block;
  width: 48%;
  line-height: 1.75;
}

.close-menu {
  font-size: 30px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  text-decoration: none;  
  position: absolute;  
  right: 8px;
  top: 8px;
}

